*{
    margin: 0;
    padding: 0;
}
header{
    display: block;
}
body{
    font-family: "Roboto",sans-serif;
    background: #fff;
}
div.header-area{
    box-sizing: border-box;
    box-shadow: 0 10px 15px rgb(25 25 25  / 10% );
    color: white;
    font-family: "Roboto",sans-serif;
}
div.main-header{
    position: relative;
    z-index: 3;
}
div.header-top{
    padding: 8px 0;
    background: #000000;
}
div.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
div.col-xl-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
div.header-top-inside{
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}
.header-info-left{
    margin-left: 80px;
}
.header-info-right{
    margin-right: 80px;
}
.list-style-none{
    list-style-type: none;
}
.align-items-center{
    align-items: center;
}
div.header-top-inside ul{
    margin: 0;
    padding: 0;
}
div.header-top-inside ul li{
    margin-right: 15px;
}

div.header-mid{
    color: #000000;
}

.logo{
    height: 60px;
    margin-top: 5px;
    margin-bottom: 15px;
}
.nav{
    margin-right: 52px;
}
.nav-ul{
    margin: 0;
}
.nav-ul li{
    margin-right: 15px;
    color: #002e5b;
    font-weight: 600;
    font-size: 17px;
}
.nav-ul li:hover{
    cursor: pointer;
    color: #fc3f00;
    transition: all .3s ease-out 0s;
}
div.header-mid.container{
    margin: 0 30px;
}


                                /*Main*/
main{
    display: block;
}

                    /*Trending area*/
.trending-main{
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 50px;
}
div.trending-title{
    padding-top: 31px;
    padding-bottom: 33px;
}
.trending-top{
    margin-bottom: 30px;
}
.trend-top-img{
    position: relative;
}
.trend-img{
    height: 355px;
    width: 100%;
    border-radius: 7px;
}
.trend-top-cap{
    position: absolute;
    bottom: 25px;
    left: 65px;
}
.trend-top-cap a{
    color: #fff;
    font-weight: 700;
    line-height: 1.3;
    text-decoration: none;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-35{
    margin-bottom: 35px;
}
.mb-50{
    margin-bottom: 50px;
}
.trend-bottom-img img{
    width: 100%;
}
.trend-bottom-cap h4{
    font-weight: 500;
    line-height: 1.4;
    font-size: 18px;
}
.trend-bottom-cap a{
    text-decoration: none;
    color: black;
}
.color1{
    font-size: 11px;
    padding: 10px 15px;
    line-height: 1;
    margin-bottom: 15px;
    display: inline-block;
    background:#ffe7e6;
    text-transform: uppercase;
    font-weight: 500;
}
.color2{
    font-size: 11px;
    padding: 10px 15px;
    line-height: 1;
    margin-bottom: 15px;
    display: inline-block;
    background:#f4ffd5;
     text-transform: uppercase;
     font-weight: 500;
}
.color3{
    font-size: 11px;
    padding: 10px 15px;
    line-height: 1;
    margin-bottom: 15px;
    display: inline-block;
    background: #e1fcff;
    text-transform: uppercase;
    font-weight: 500;
}

                /*Trending right cap*/
.trending-right-simple{
    border-bottom: 1px solid #eeeeee;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.trending-right-cap{
    padding-left: 18px;

}

.trending-right-cap span{
    padding: 10px 15px;
    background: #ffe7e6;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 500;
}

.trending-right-cap h4{
    margin-top:  10px;
    font-size: 15px;
    line-height: 1.4;
}
.trending-right-cap a{
    text-decoration: none;
    color: black;
}
.trending-right-simple:last-child{
    border-bottom: 0;
}

                /*Weakly area*/
.weakly-wrapper{
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 60px;
}

.single-weakly-info{
    position: relative;
    margin-right: 10px;
}
.section-title{
    margin-bottom: 30px;
}
.section-title h3{
    font-size: 25px;
}
.weakly-caption{
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #000000;
    padding: 30px;
    background: #ffffff;
}
.weakly-img img{
    width: 100%;
}


/*What news area*/

.what-news-main{
    padding-bottom: 40px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}
.top-what-news{
    margin-bottom: 60px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 60px;
}
.nav-top-what-news{
    display: flex;
    padding: 15px 25px;
    background: #f7f7f7;    
}
.nav-top-what-news ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #8f8f96;
}
.nav-top-what-news ul li{
    margin-right: 20px;
}

.single-what-news-img img{
    width: 100%;
    padding-bottom: 20px;
}

.single-what-news-img{
    position: relative;
}
.single-what-news-can{
    position: absolute;
    bottom: 15px;
    color: #000000;
    padding: 20px;
    background: #ffffff;
    border-radius: 0 10px 0 0;
    left: 0;
}

.follow-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 920px;
}
.follow-us{
    display: flex;
    align-items: center;
    width: 49%;
    border: 1px solid #eeeeee;
    margin-bottom: 15px;
    border-radius: 5px;
    padding-left: 15px;
}
.single-follow{
    margin-bottom: 40px;
}
.follow-count{
    padding-top: 10px;
    text-align: center;
    padding-left: 15px;
    padding-bottom: 15px;
}
.follow-count span{
    color: #232323;
    font-size: 14px;
    font-weight: 500;
}
.follow-count p {
    margin-bottom: 0;
    line-height: 1;
    font-size: 11px;
}

.new-poster img{
    width: 100%;
    padding: 0 60px;
}


/*Footer*/
.footer{
    color: #eeeeee;
    background: #100f0f;
    width: 100%;
    height: auto;
}
.footer-main{
    padding-top: 40px;
}
.footer-text{
    padding-top: 20px;
    color: #a8a8a8;
}
.mg-top-80{
    margin-top: 80px;
}

.insta-feed{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.insta-feed li{
    width: 29%;
    margin: 2px;
}
.instagram-gellay ul{
    padding: 0;
}
